.topBarMobile
{
    display:none
}

.sidebarMobile{
    display: none;
}
.sidebar
{
    border-right: 1px solid #D6D9DB;
}

@media only screen and (max-width:768px)
{
    .topBarMobile
    {
        display:block
    }
    .sidebar
    {
        display: none;
        
    }
    .sidebarMobile
    {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        opacity: 1;
        height: 100vh;
        border-right:1px solid #D6D9DB;
        width: 80%;
        z-index: 1;
        border-right:"1px solid #D6D9DB";
    }
}