#report .Active-icon,
#report .Inactive-icon {
  padding: 3.5% !important;
}

#report .tableDesign {
  @media (max-width: 600px) {
    width: 300%!important;
  }
}

#report .textCustom {
  font-weight: 500;
}