.grid-for-total{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.box-for-total{
    display: flex;
    width: 14%;
    flex-direction: row;
    align-items: center;
    background: #F4F6F8;
    border: 1px solid #D6D9DB;
    border-radius: 0px 0px 10px 10px;
    justify-content: flex-end;
}

.grid-for-text{
    margin: 5% 10%;
}

.grid-for-number{
    font-size: 1rem;
    font-weight: bold;
    margin: 5% 9%;
}


@media only screen and (max-width:1700px)
{
    .grid-for-number{
        font-size: 1rem;
    }

    .box-for-total{
        width: 20%;
    }

}


@media only screen and (max-width:1200px)
{
    .grid-for-number{
        font-size: 0.9rem;
    }
}


@media only screen and (max-width:600px)
{
    .grid-for-number{
        font-size: 0.8rem;
    }

    .box-for-total{
        width: 45%;
    }

}


@media only screen and (max-width:400px)
{

    .box-for-total{
        width: 60%;
    }

}