.profile-position {
    position: relative;
    top: 27px;
    left: 27px;
    margin-right: 4%;

    @media (max-width:600px) {
        top: 0;
        left: 0;
    }
}

.settings-main-box{
    @media (max-width:400px) {
        padding: 3%;
    }
}

.profile-position img {
    width: 100%;
}

.profile-text {
    @media (max-width:600px) {
        text-align: center;
    }
}

.profile-text h3 {
    @media (max-width:600px) {
        line-height: 20px !important;
        font-size: 18px !important;
    }
}

.profile-text p {
    @media (max-width:600px) {
        font-size: 11px !important;
        line-height: 11px !important;
    }
}

.after-it .row {
    margin-bottom: 2%;
    padding: 1% 2% 0 2%;

    @media (max-width:600px) {
        padding: 1% 2% 0 2%;
    }

}

.after-it .row-design {

    @media (max-width:600px) {
        padding: 6% 3%;
    }

}


.after-it {
    width: 80%;
    padding: 0;

    @media (max-width:600px) {
        width: 98%;
    }
}


.after-it .img-in-circle {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
}

.row-design {
    background: linear-gradient(269.96deg, #64B5F6 0.03%, #0556A7 99.17%);
    margin: 0px;
    border: 1px solid #D6D9DB;
    border-radius: 10px 10px 0px 0px;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    @media (max-width:600px) {
        padding: 6%;
        justify-content: center;
        flex-direction: column;
    }
}

.row-design .card-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding-top: 2%;
    color: #FFFFFF;
}

.row-design .card-text {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF !important;
}

.after-it .edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.after-it .edit-icon button {
    background: #FFFFFF;
    width: 35px;
    height: 35px;
    border: 2px solid #2391C3;
    border-radius: 50%;
}

.textCustom {
    font-weight: 600;
    font-size: 24px;
}

.col-12 {
    @media (max-width:600px) {
        margin-top: 2%;
    }
}

.bg-section {
    background: #F3F5F6;
    padding: 1% 0;
}

.bg-section  .form-label{
    color: #758B93;
}

.form-box {
    padding: 0;
}

.form-control {
    color: #758B93;
}