#report .Active-icon,
#report .Inactive-icon {
  padding: 3.5% !important;
}

#report .tableDesign {
  @media (max-width: 768px) {
    width: 300%!important;
  }

  @media (max-width: 400px) {
    width: 400%!important;
  }
}

#report .textCustom {
  font-weight: 600;
}