  .box-main{
    padding: 2% 3% 0;
  }
  .textCustom {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    font-family: Roboto,"Segoe UI",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  
  .table-responsive {
    border-radius: 10px !important;
    margin-top: 1%;
    border: 1px solid #D6D9DB;
  }
  
  .table {
    border-color: #F4F6F8;
    margin: 0!important;
  }
  
  .table-bordered {
    border-width: 1px;
  }

  .table-bordered>:not(caption)>*>* {
    border-width: 0;
  }

  .table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: rgb(244, 246, 248);
    color: var(--bs-table-hover-color);
  }

  td{
    color: #667B8B;
    font-size: 15px;
  }

  th{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding: 1% 1% 1% 8px!important;
  }

  .Approved-icon{
    margin-right: 8%!important;
    width: 23px!important;
    height: 23px!important;
    background: #80CA46!important;
    padding: 3%!important;
    border-radius: 50%!important;
  }

  .Rejected-icon{
    margin-right: 8%!important;
    width: 23px!important;
    height: 23px!important;
    background: #D44141!important;
    padding: 3%!important;
    border-radius: 50%!important;
  }

  .Pending-icon{
    margin-right: 8%!important;
    width: 23px!important;
    height: 23px!important;
  }

  .status-col{
    display: flex!important;
    justify-content: flex-start!important;
  }
