.modal-footer
{
    background-color: white;
}

.modal{
    --bs-modal-width:596px;
    --bs-modal-height:347px;
    --bs-modal-border-radius:30px;
}

.currentDocumentIcon
{
    width: 191.84px;
    height:99.06px;
}

.uploadDocument_form_container{
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #D6D9DB;
    border-radius: 10px;
    width:100%;
}
.uploadDocument_form_input
{
    border:none;
    width: 100%;
}
.uploadDocument_form_button{
    background-color: #64B5F6;
    border-radius: 0 6px 6px 0px;
    text-align: center;
    color: #FFFFFF;
    padding: 9px 12px 8px 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.55px;
    width:40%
}
.categoryName_form_container
{
    margin-top: 18px;
}
.categoryName_form_input{
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #D6D9DB;
    border-radius: 6px;
}

.formLabel{
        /* font-family: 'Nunito Sans'; */
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
    
    
        color: #667B8B;
        margin-bottom: 5px;
}

.description_form_input{
    width:100%;
    height: 151px;
    background: #FFFFFF;
    border: 1px solid #D6D9DB;
    border-radius: 6px;
    resize: none;
}
.description_form_container{
    margin-top: 34px;
}

.addCategory_button_container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:18px;
    margin-top: 37px;
    margin-bottom: 34px;
}
.addCategory_cancel_button
{
    background-color: #FFFFFF;
    border : 1px solid #86A9B8;
    border-radius: 10px;
    padding: 15px 63px 15px 63px;
    color: #48748D;
}

.addCategory_save_button
{
    border-radius: 10px;
    padding: 15px 72px 15px 73px;
    background-color: #64B5F6;
    color: #FFFFFF;
    border:none;
}
.modal-heading{
    font-weight: 600px;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    /* font-family: 'Nunito Sans'; */
}

.modal-content {
    border-radius: 10px!important;
  }

  @media only screen and (max-width:600px)
  {
      .modal{
          --bs-modal-width:378px;
          --bs-modal-height:209px;
          --bs-modal-border-radius:20px;
      }
      .modalTrashIcon{
          width: initial;
          height: initial;
          margin:25px 25% 0 ;
      }
      .addCategory_save_button
      {
      padding: 9px 56px 9px 56px;
      }
      .addCategory_cancel_button
      {
      padding: 9px 56px 9px 56px;
      }
      .modal-content{
          margin-top: 150px;
      }
      .modal_button_container
      {
          margin-bottom: 29px;
      }
  }