.modal-footer
{
    background-color: teal;
}
.removeModal{
   
}

.modal{
    --bs-modal-width:596px;
    --bs-modal-height:347px;
    --bs-modal-border-radius:30px;
}

.modalTrashIcon{
    width: 101px;
    height: 101px;
    margin:49px 200px 0 230px;
}

.modal_text_container{
    text-align: center;
    /* font-family: 'Nunito Sans'; */
    font-weight: 400px;
    font-size: 22px;
    line-height: 30.01px;
    color: #48748D;
}

.modal_button_container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:18px;
    margin-bottom: 61px;
}
.no_button
{
    background-color: #FFFFFF;
    border : 1px solid #86A9B8;
    border-radius: 10px;
    padding: 15px 82px 15px 83px;
    color: #48748D;
}

.yes_button
{
    border-radius: 10px;
    padding: 15px 82px 15px 83px;
    background-color: #64B5F6;
    color: #FFFFFF;
    border:none;
}

@media only screen and (max-width:600px)
{
    .modal{
        --bs-modal-width:378px;
        --bs-modal-height:209px;
        --bs-modal-border-radius:20px;
    }
    .modalTrashIcon{
        width: initial;
        height: initial;
        margin:25px 25% 0 ;
    }
    .yes_button
    {
    padding: 9px 56px 9px 56px;
    }
    .no_button
    {
    padding: 9px 56px 9px 56px;
    }
    .modal-content{
        margin-top: 150px;
    }
    .modal_button_container
    {
        margin-bottom: 29px;
    }
}