//.marketing_materials_mobileView {
//  display: none;
//}
//
//@media only screen and (max-width: 600px) {
//  .marketing_materials_mobileView {
//    display: block;
//  }
//
//  .marketing_materials_desktopView {
//    display: none;
//  }
//}

.agentTable {


  .tableRow {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: "Nunito Sans";
      min-height: 80px;
      padding: 22px 29px 23.62px 36px;
      @media (max-width: 768px) {
        padding: 22px 16px 23px 16px;
      }
      cursor: pointer;
    }

    .tablerow_extension {
      border-top: 1px solid #f0f2f3;
      max-height: 0;
      overflow: hidden;
      padding: 0;
      transition: 0.4s all;

      &.visible {
        padding: 13px 31px 21px 30px;
        max-height: 500px;
      }

      @media (max-width:768px) {
        padding: 0
      }
    }
  }

  > div {
    border: 1px solid #D6D9DB;
    border-bottom: 0;

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: 1px solid #D6D9DB;
    }
  }
}
