/*  GLOBAL LAYOUT */
html,
body,
#root,
.App {
	margin: 0 !important;
	padding: 0 !important;
}

.App {
	height: 100vh;
}

body {
	min-height: 100%;
	font-family: "Nunito Sans";
}

p {
	font-family: "Nunito Sans";
}

.MuiButton-containedPrimary:hover {
	background-color: #136DA7 !important;
}