/*  GLOBAL LAYOUT */
html, body, #root, .App {
	height: 100%;
	margin: 0 !important;
    padding: 0 !important;
}
body {
	min-height: 100%;
}

/* h1, h2, h3, h4, h5, h6 {
	color:black!important;
} */

p{
	color:#667B8B!important;
}