.heading{
    color:#136DA7;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    text-align:center;
    margin:3% 0;
}

.accordionContainer{
    margin: 2% 25%;
    padding-bottom: 3%;
}

.accordion-button:not(.collapsed) {
          color: #136da7!important;
          background-color: #136da717!important;
          box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .heading {
      font-size: 26px;
      line-height: 31px;
      margin: 3% 2%;
    }
  
    .accordionContainer {
      margin: 2% 10%;
    }
}

/* For screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
    .heading {
      font-size: 45px;
      line-height: 55px;
    }
    .accordionContainer {
      margin: 2% 20%;
    }
}