.team-box {
    padding: 2% 3% 0;

@media (max-width: 768px) {
    padding:

2% 3% !important;
}

@media (max-width: 400px) {
    padding:

2% 6%!important;
}

}

.team-box .textCustom {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    font-family: "Nunito Sans";

@media (max-width: 768px) {
    font-size:

20px

!important;
}

}

.table-responsive {
    border-radius: 10px !important;
    margin-top: 1%;
    border: 1px solid #D6D9DB;
}

.table {
    border-color: #F4F6F8;
    margin: 0 !important;

@media (max-width: 768px) {
    width:

150%;
}

@media (max-width: 768px) {
    width:

210%;
}

}

.table-bordered {
    border-width: 1px;
}

.table-bordered > :not(caption) > * > * {
    border-width: 0;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: rgb(244, 246, 248);
    color: var(--bs-table-hover-color);
}

.team-box td {
    color: #667B8B;
    font-size: 15px;

@media (max-width: 768px) {
    font-size:

13px

!important;
}

}

.team-box th {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding: 1% 1% 1% 8px !important;

@media (max-width: 768px) {
    font-size:

16px

!important;
    font-weight:

500!important;
    line-height:

18px

!important;
}

}

.color-link {
    color: #0556A7;
    text-decoration: none;
}

.boxModal .modal-content {
    width: 216%;
    border-radius: 10px !important;

@media (max-width: 768px) {
    width:

100%!important;
}

}

.boxModal .modal-dialog {
    margin: 10% 16%;
}

.modalFooter {
    border-top: none !important;
}

.buttonWhite {
    background: #FFFFFF !important;
    border: 1px solid #86A9B8 !important;
    border-radius: 10px !important;
    color: #48748D !important;
    padding: 1% 7% !important;
}

.buttonBlue {
    background: #64B5F6 !important;
    border: 1px solid #86A9B8 !important;
    border-radius: 10px !important;
    color: white !important;
    padding: 1% 7% !important;
}

.boxModal {
    background: #1e3e485e;
}

.boxModal .modal-content table {

@media (max-width: 768px) {
    width:

260%!important;
}

}
